body {
    background-image: url("https://github.com/rapolurenu/rock-paper-scissors-boilerplate/blob/main/assets/bg.png?raw=true");
    font-family: Poppins, sans-serif; 
    text-align: center;
    color: white;
}
.container{
    display: flex;
    justify-content: space-around;
    margin: 0 100px;
}
h1{
    text-align: center;
    flex-direction: column;
    font-size: 70px;
    margin: 10px 0;
}
.box{
    height: 420px;
    width: 400px;
    border: 3px solid gold;
    margin: 0 20px; 
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
h2{
    text-align: center;
    flex-direction: column;
    margin: 10px 0;
}
.sign img{
    height: 80px;
}
.sign:hover{
   cursor: pointer;
}
.sign{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
#versusimg{
    height: 500px;
    margin: 20px 20px; 
}
button{
    text-align: center;
    color: white;
    font-weight: bolder;
    background-color:rgb(194, 143, 48);
    border: 2px solid black;
    width: 150px;
    padding: 10px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: none;
}
button:hover{
    cursor: pointer;
}
