@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url(https://github.com/Kalvium-Program/rock-paper-scissors-boilerplate/blob/main/assets/bg.png?raw=true) fixed;
}

.score {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: white;
    font-weight: bolder;
    padding-top: 40px;
}
 
.container{
    display: flex;
    justify-content: space-around;
}

.box {
    border: 3px solid #f7ba3e;
    width: 485px;
    height: 430px;
}

.options {
    display: flex;
    justify-content: space-around;
    visibility: visible;
}

.user-box{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.replay {
    visibility: hidden;
    padding-top: 50px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-again {
    background-color: #f7ba3e;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
