@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: url(https://github.com/Kalvium-Program/rock-paper-scissors-boilerplate/blob/main/assets/bg.png?raw=true) fixed;
}

h1{
    color: rgb(90, 37, 192);
    padding-top: 40px;
    text-align: center;
    font-size: 75px;
}

img[alt="logo"] {
    padding-top: 10px;
    padding-left: 250px;
    height: 450px;
    width: 450px;
}

.play-button{
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    right: 480px;
    bottom: 170px;
}

.play-button img{
    height: 85px;
    width: 85px;
    padding: 15px;
}
