*{
    font-family: Poppins, sans-serif;
}
body {
    background-image: url("https://github.com/rapolurenu/rock-paper-scissors-boilerplate/blob/main/assets/bg.png?raw=true");
    background-repeat: no-repeat;
    font-family: Poppins, sans-serif;
    text-align: center;
}
h1{
    font-weight: 900;
    font-size: 60px;
    color: rgb(90, 37, 192);
}
#Game-Image {
    width: 110px;
    margin-left: 80px;
    align-items: center;
    height: auto;
    margin-right: 50px;
}
#Play {
    display: flex;
    justify-content: flex;
    align-items: center;
    margin-bottom: 55px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
}
#button {
    width: 35px;
    margin-right: 15px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}
#Text {
    color: white;
    font-size: 27px;
    font-weight: bold;
    margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
}
